.container {
    display: flex;  
    justify-content: center;
    gap: 1%;  
    padding: 20px;
}

.feature__box{
    width: 200px;
    height: 200px;
    background-color: white;
    cursor: pointer;
}

.feature__box .text__box{
    margin-top: 20%;
    margin-left: 10%;
}

body{
    background-color: #F0F0F0;
}